body {
    box-sizing: border-box;
    margin: auto;
    min-width: 320px;
    padding: 20px;
    width: 100%;
}

@media screen and (min-width: 780px) {
    body {
        width: 100%;
        max-width: 900px;
    }
}

@import "_header";
@import "_body";